@import 'reset';

$heading-color: #343a40;
$info-color1: #868e96;
$info-color2: #bd5d38;
$menu-color: #fff;

body {
  font-family: 'Saira Condensed', Muli, 'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 7rem;
  text-transform: uppercase;
  color: $heading-color;
  margin-bottom: 4rem;
}

h2 {
  font-weight: 700;
  font-size: 5.6rem;
  text-transform: uppercase;
  color: $heading-color;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 3.2rem;
}

p {
  font-weight: 500;
  font-size: 2.4rem;
}

#navbar {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 20%;
  z-index: 999;
  background-color: #795548;
  text-align: center;
  box-sizing: border-box;
}

#navbar-inner {
  padding: 5rem 1.5rem 0;

  & span {
    color: $menu-color;
    font-size: 2rem;
    font-weight: bold;
    display: none;
  }

  & .nav-unshown {
    display: none;
  }
  
  & #navbar-img {
    border-radius: 50%;
    max-width: 60%;
    border: 5px solid #5D4037;
    box-sizing: border-box;
    margin-bottom: 4rem;
  }  

  & > #nav-content > ul > li {
    margin-bottom: 3rem;

    & > a {
      color: $menu-color;
      font-family: Muli;
      font-weight: 800;
      font-size: 1.6rem;
      text-transform: uppercase;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#social-icons {
  margin-top: 3rem;;
}

#main-doc {
  margin-left: 20%;
}

#main-inner {
  margin: 5rem;
}

.anchor {
  padding-top: 15.36rem;
  margin-top: -15.36rem;
}

#welcome-section {
  height: 100vh;
}

#welcome-section, #projects, #experience, #education, #skills, #awards {
  margin-bottom: 6rem;
}

#welcome-section {
  & a[href^="tel:"] {
    pointer-events: none;
  }

  & > p {
    margin-bottom: 3rem;
  }

  & span:not(first-child) {
    margin-top: 1rem;
  }
}

#headline {
  color: $info-color1;
  margin-bottom: 3rem;

  & p {
    font-family: Muli;
    font-size: 1.8rem;
    font-weight: 400;

    &:not(:first-child) {
      margin-top: 0.6rem;
    }
  }
}

.fa-style {
  font-size: 5rem;
  color: #4CAF50;
  margin-right: 2rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

#contact-info {
  margin-bottom: 3rem;

  & p, a {
    color: $info-color1;
    font-weight: 500;
    font-size: 2.4rem;  
  }

  & a[href^="mailto:"]:hover {
    color: #bd5d38;
  }
}

/*------          ------*/
/*         CARD         */
/*------          ------*/
#card {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  & > .project-card {
    flex: 0 0 30%;
    padding: 1.5rem;
    margin: 0 1rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);

    & > .card-imageframe{
      width: 100%;
      height: auto;
      padding-top: 60%;
    }

    &:first-of-type {
      & > .card-imageframe {
        background: url(images/portfolio.png) no-repeat;
        background-size: contain;
      }
    }
    
    &:nth-of-type(2) {
      & > .card-imageframe {
        background: url(/images/landingpage.png) no-repeat;
        background-size: contain;
      }
    }

    &:nth-of-type(3) {
      & > .card-imageframe {
        background: url(/images/surveyform.png) no-repeat;
        background-size: contain;
      }
    }    
  }
}

.card-textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.card-textbox > * + *{
  margin-top: 10px;
}

.project-tile{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.project-link{
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.cv-item, .uni-item, .awards-item, .skills {
  margin-left: 1rem;
  margin-bottom: 3rem;
  color: $heading-color;
}

.cv-title, .uni-name, .uni-major, .awards-name {
  color: $heading-color;
}

.cv-date, .uni-major, .uni-date, .awards-date {
  color: $info-color1;
}

/*------             ------*/
/*       MEDIA QUERY       */
/*------             ------*/
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  body {
    display: block;
  }
  
  #navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
  }

  #navbar-inner {
    padding: 1rem 1.5rem 1rem;
    display: flex;
    justify-content: space-between;

    & > span {
      display: inline-block;
      text-transform: uppercase;
      line-height: 4.7rem;
    }
  }

  .nav-unshown {
    display:none;
  }
  
  #nav-open {
    display: inline-block;
    width: 3rem;
    height: 2.2rem;
    vertical-align: middle;
    margin: 1rem;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    display: block;
    content: '';
    cursor: pointer;
  }

  #nav-open span:before {
    bottom: -8px;
  }

  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    transition: .3s ease-in-out;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);

    & > ul > li > a:hover {
      opacity: 1;
    }
  }

  #navbar-img {
    display: none;
  }

  #main-doc {
    width: 100%;
    margin: 15rem 0 0 0;

    & #main-inner {
      margin-left: 2rem;
      margin-right: 2rem;

      #welcome-section {
        & a[href^="tel:"] {
          pointer-events: auto;
        }
      }
    }
  } 
    
  #card .project-card {
    flex: 0 0 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  #nav-input:checked {
    & ~ #nav-close {
      display: block;
      opacity: .5;
    }

    & ~ #nav-content {
      padding-top: 2rem;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
      display: block;
      text-align: center;
      background-color: #795548;
    }
  }
}