html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 1.6em;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove text decoration styles on a elements */
a {
  text-decoration: none;
}

/* Make images easier to work with */
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Saira Condensed', Muli, 'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 7rem;
  text-transform: uppercase;
  color: #343a40;
  margin-bottom: 4rem;
}

h2 {
  font-weight: 700;
  font-size: 5.6rem;
  text-transform: uppercase;
  color: #343a40;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 3.2rem;
}

p {
  font-weight: 500;
  font-size: 2.4rem;
}

#navbar {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 20%;
  z-index: 999;
  background-color: #795548;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navbar-inner {
  padding: 5rem 1.5rem 0;
}

#navbar-inner span {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

#navbar-inner .nav-unshown {
  display: none;
}

#navbar-inner #navbar-img {
  border-radius: 50%;
  max-width: 60%;
  border: 5px solid #5D4037;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 4rem;
}

#navbar-inner > #nav-content > ul > li {
  margin-bottom: 3rem;
}

#navbar-inner > #nav-content > ul > li > a {
  color: #fff;
  font-family: Muli;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0.8;
}

#navbar-inner > #nav-content > ul > li > a:hover {
  opacity: 1;
}

#social-icons {
  margin-top: 3rem;
}

#main-doc {
  margin-left: 20%;
}

#main-inner {
  margin: 5rem;
}

.anchor {
  padding-top: 15.36rem;
  margin-top: -15.36rem;
}

#welcome-section {
  height: 100vh;
}

#welcome-section, #projects, #experience, #education, #skills, #awards {
  margin-bottom: 6rem;
}

#welcome-section a[href^="tel:"] {
  pointer-events: none;
}

#welcome-section > p {
  margin-bottom: 3rem;
}

#welcome-section span:not(first-child) {
  margin-top: 1rem;
}

#headline {
  color: #868e96;
  margin-bottom: 3rem;
}

#headline p {
  font-family: Muli;
  font-size: 1.8rem;
  font-weight: 400;
}

#headline p:not(:first-child) {
  margin-top: 0.6rem;
}

.fa-style {
  font-size: 5rem;
  color: #4CAF50;
  margin-right: 2rem;
  opacity: 0.8;
}

.fa-style:hover {
  opacity: 1;
}

#contact-info {
  margin-bottom: 3rem;
}

#contact-info p, #contact-info a {
  color: #868e96;
  font-weight: 500;
  font-size: 2.4rem;
}

#contact-info a[href^="mailto:"]:hover {
  color: #bd5d38;
}

/*------          ------*/
/*         CARD         */
/*------          ------*/
#card {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#card > .project-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 1.5rem;
  margin: 0 1rem;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#card > .project-card > .card-imageframe {
  width: 100%;
  height: auto;
  padding-top: 60%;
}

#card > .project-card:first-of-type > .card-imageframe {
  background: url(images/portfolio.png) no-repeat;
  background-size: contain;
}

#card > .project-card:nth-of-type(2) > .card-imageframe {
  background: url(/images/landingpage.png) no-repeat;
  background-size: contain;
}

#card > .project-card:nth-of-type(3) > .card-imageframe {
  background: url(/images/surveyform.png) no-repeat;
  background-size: contain;
}

.card-textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-textbox > * + * {
  margin-top: 10px;
}

.project-tile {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.project-link {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.cv-item, .uni-item, .awards-item, .skills {
  margin-left: 1rem;
  margin-bottom: 3rem;
  color: #343a40;
}

.cv-title, .uni-name, .uni-major, .awards-name {
  color: #343a40;
}

.cv-date, .uni-major, .uni-date, .awards-date {
  color: #868e96;
}

/*------             ------*/
/*       MEDIA QUERY       */
/*------             ------*/
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  body {
    display: block;
  }
  #navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
  }
  #navbar-inner {
    padding: 1rem 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navbar-inner > span {
    display: inline-block;
    text-transform: uppercase;
    line-height: 4.7rem;
  }
  .nav-unshown {
    display: none;
  }
  #nav-open {
    display: inline-block;
    width: 3rem;
    height: 2.2rem;
    vertical-align: middle;
    margin: 1rem;
  }
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  #nav-close {
    display: none;
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }
  #nav-content > ul > li > a:hover {
    opacity: 1;
  }
  #navbar-img {
    display: none;
  }
  #main-doc {
    width: 100%;
    margin: 15rem 0 0 0;
  }
  #main-doc #main-inner {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #main-doc #main-inner #welcome-section a[href^="tel:"] {
    pointer-events: auto;
  }
  #card .project-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  #nav-input:checked ~ #nav-content {
    padding-top: 2rem;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
    display: block;
    text-align: center;
    background-color: #795548;
  }
}
/*# sourceMappingURL=style.css.map */